#our-products > .ct-section-inner-wrap {max-width: 100%;}
#section-131-60 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;display: flex;}
#section-131-60 {background-size: auto 60%;background-color: #c43145;background-repeat: no-repeat;overflow: hidden;height: auto;position: relative;}
#section-23-60 > .ct-section-inner-wrap {padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-183-60 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-183-60 {background-image: linear-gradient(90deg,#fff 50%,#f1f0e9 50%);overflow: hidden;position: relative;background-position: 100% 0%;}
#section-33-60 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-33-60 {position: relative;background-color: #f1f0e9;}
#section-61-60 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-40-60 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-47-60 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#div_block-115-60 {display: flex;text-align: left;}
#div_block-127-60 {width: 33.33%;padding-left: 0px;padding-bottom: 0px;padding-top: 0px;}
#div_block-128-60 {width: 66.67%;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;}
#div_block-132-60 {overflow: visible;height: 100%;position: relative;}
#div_block-154-60 {position: absolute;bottom: -10rem;left: -10rem;}
#div_block-147-60 {position: relative;}
#div_block-480-60 {min-height: 500px;}
#div_block-156-60 {width: 40%;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;}
#div_block-157-60 {width: 60%;padding-bottom: 0px;}
#div_block-172-60 {width: 60%;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;}
#div_block-173-60 {width: 40%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
#div_block-184-60 {background-color: #f1f0e9;position: relative;}
#div_block-494-60 {transform: translate(-50%);position: absolute;left: 0px;top: 0px;height: 100%;width: 40px;padding-left: 0px;padding-right: 0px;background-color: #c43145;min-width: ;min-height: ;padding-bottom: 0px;padding-top: 0px;margin-top: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;}
#div_block-493-60 {width: 100%;position: relative;}
#div_block-302-60 {margin-top: 100px;left: 60%;width: 30%;margin-left: 50%;}
#div_block-303-60 {margin-left: 40px;margin-bottom: 5px;position: relative;z-index: 1;justify-content: center;}
#div_block-304-60 {width: 75px;height: 75px;background-color: #fbf393;}
#div_block-306-60 {border-top-left-radius: 50px;border-bottom-left-radius: 50px;border-bottom-right-radius: 50px;padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;border-top-width: 2;border-right-width: 2;border-bottom-width: 2;border-left-width: 2;border-top-color: #c43145;border-right-color: #c43145;border-bottom-color: #c43145;border-left-color: #c43145;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;width: 100%;}
#div_block-309-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-311-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;justify-content: center;}
#div_block-314-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-316-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-320-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-322-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-325-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-327-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-487-60 {width: 50%;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;}
#div_block-488-60 {width: 50%;}
#div_block-519-60 {width: 50%;justify-content: center;align-items: center;text-align: center;}
#div_block-520-60 {width: 50%;margin-top: -200px;}
#div_block-472-60 {width: 50%;padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;}
#div_block-473-60 {width: 50%;position: relative;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-263-60 {right: 0px;top: 0px;margin-top: 30px;margin-left: 0%;}
#div_block-297-60 {margin-left: 40px;margin-bottom: 5px;position: relative;z-index: 1;justify-content: center;}
#div_block-301-60 {width: 75px;height: 75px;background-color: #fff;}
#div_block-265-60 {border-top-left-radius: 50px;border-bottom-left-radius: 50px;border-bottom-right-radius: 50px;padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;border-top-width: 2;border-right-width: 2;border-bottom-width: 2;border-left-width: 2;border-top-color: #c43145;border-right-color: #c43145;border-bottom-color: #c43145;border-left-color: #c43145;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;width: 300px;}
#div_block-268-60 {width: 100%;padding-top: 0px;padding-bottom: 0px;align-items: flex-start;text-align: left;}
#div_block-273-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-275-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-291-60 {width: 40%;padding-left: 0px;}
#div_block-292-60 {width: 60%;padding-left: 0px;padding-right: 0px;}
#div_block-534-60 {width: 40%;padding-left: 0px;}
#div_block-537-60 {width: 60%;padding-left: 0px;padding-right: 0px;}
#div_block-62-60 {display: flex;align-items: stretch;position: relative;padding-top: 50px;}
#div_block-545-60 {right: 0px;top: 0px;margin-top: 30px;margin-left: 0%;}
#div_block-546-60 {margin-left: 40px;margin-bottom: 5px;position: relative;z-index: 1;justify-content: center;}
#div_block-547-60 {width: 75px;height: 75px;background-color: #fff;}
#div_block-549-60 {border-top-left-radius: 30px;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;border-top-width: 2;border-right-width: 2;border-bottom-width: 2;border-left-width: 2;border-top-color: #c43145;border-right-color: #c43145;border-bottom-color: #c43145;border-left-color: #c43145;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;width: auto;}
#div_block-552-60 {width: 100%;padding-top: 0px;padding-bottom: 0px;align-items: flex-start;text-align: left;}
#div_block-555-60 {width: 100%;padding-top: 0px;padding-bottom: 0px;}
#div_block-465-60 {width: 100%;}
#div_block-383-60 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-384-60 {width: 60%;padding-left: 0px;padding-right: 0px;}
#div_block-478-60 {width: 60%;padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;}
#div_block-479-60 {width: 40%;}
#div_block-361-60 {right: 0px;top: 0px;margin-left: auto;}
#div_block-362-60 {margin-left: 40px;margin-bottom: 5px;position: relative;z-index: 1;justify-content: center;}
#div_block-365-60 {border-top-left-radius: 30px;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 50px;color: #fff;background-color: #a52b26;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#div_block-368-60 {width: 100%;padding-top: 0px;padding-bottom: 0px;align-items: flex-start;text-align: left;}
#div_block-371-60 {width: 100%;padding-top: 0px;padding-bottom: 0px;}
#div_block-357-60 {width: 50%;padding-left: 0px;padding-right: 0px;}
#div_block-358-60 {width: 50%;padding-right: 100px;}
#div_block-468-60 {width: 40px;background-color: #c43145;height: 100%;position: absolute;z-index: -5;right: 0%;top: 0px;}
#div_block-391-60 {width: 50%;padding-left: 0px;}
#div_block-392-60 {width: 50%;}
#div_block-396-60 {right: 0px;top: 0px;width: 100%;}
#div_block-397-60 {margin-left: 40px;margin-bottom: 5px;position: relative;z-index: 1;justify-content: center;}
#div_block-399-60 {border-top-left-radius: 30px;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 40px;color: #fff;background-color: #a52b26;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;width: 100%;}
#div_block-402-60 {width: 25%;padding-top: 0px;padding-bottom: 0px;align-items: flex-start;text-align: left;justify-content: center;}
#div_block-410-60 {width: 25%;padding-top: 0px;padding-bottom: 0px;align-items: flex-start;text-align: left;justify-content: center;}
#div_block-412-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;align-items: flex-start;text-align: left;justify-content: center;}
#div_block-405-60 {width: 25%;padding-top: 0px;padding-bottom: 0px;}
#div_block-414-60 {width: 25%;padding-top: 0px;padding-bottom: 0px;}
#div_block-416-60 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-441-60 {width: 40%;padding-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
#div_block-442-60 {width: 60%;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;display: block;}
#div_block-460-60 {display: block;}
#div_block-436-60 {width: 50%;padding-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
#div_block-437-60 {width: 50%;}
@media (max-width:991px) {#div_block-154-60 {position: absolute;left: -100px;}}
@media (max-width:991px) {#div_block-480-60 {min-height: 350px;}}
@media (max-width:991px) {#div_block-519-60 {flex-direction: column;display: flex;justify-content: center;padding-right: 0px;}}
@media (max-width:991px) {#div_block-520-60 {margin-top: 0px;}}
@media (max-width:991px) {#div_block-537-60 {flex-direction: column;display: flex;justify-content: center;}}
@media (max-width:767px) {#div_block-127-60 {padding-right: 0px;padding-left: 0px;padding-top: 0px;}}
@media (max-width:767px) {#div_block-128-60 {padding-left: 0px;}}
@media (max-width:767px) {#div_block-154-60 {position: absolute;left: -7rem;bottom: -8rem;}}
@media (max-width:767px) {#div_block-157-60 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-494-60 {position: absolute;width: 30px;}}
@media (max-width:767px) {#div_block-302-60 {width: 65%;margin-left: auto;margin-right: 0px;}}
@media (max-width:767px) {#div_block-488-60 {padding-left: 50px;}}
@media (max-width:767px) {#div_block-263-60 {position: static;margin-top: 50px;}}
@media (max-width:767px) {#div_block-265-60 {width: 100%;}}
@media (max-width:767px) {#div_block-545-60 {position: static;margin-top: 50px;}}
@media (max-width:767px) {#div_block-549-60 {width: 100%;}}
@media (max-width:991px) {#new_columns-126-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-126-60> .ct-div-block {width: 100% !important;}}
@media (max-width:767px) {#new_columns-155-60> .ct-div-block {width: 100% !important;}
	#new_columns-155-60 {flex-direction: column;}}
@media (max-width:767px) {#new_columns-486-60> .ct-div-block {width: 100% !important;}
	#new_columns-486-60 {flex-direction: column;}}
@media (max-width:767px) {#new_columns-518-60> .ct-div-block {width: 100% !important;}
	#new_columns-518-60 {flex-direction: column-reverse;}}
@media (max-width:767px) {#new_columns-518-60 {flex-direction: column-reverse;}}
#new_columns-518-60 {margin-top: 0px;}
@media (max-width:991px) {#new_columns-470-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-470-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-290-60> .ct-div-block {width: 100% !important;}}
#new_columns-290-60 {margin-top: 20px;}
@media (max-width:767px) {#new_columns-533-60> .ct-div-block {width: 100% !important;}
	#new_columns-533-60 {flex-direction: column;}}
#new_columns-533-60 {margin-top: 20px;}
@media (max-width:991px) {#new_columns-382-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-382-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-476-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-476-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-356-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-356-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-390-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-390-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-440-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-440-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-435-60> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-435-60> .ct-div-block {width: 100% !important;}}
#headline-6-60 {font-size: 24px;}
#headline-136-60 {line-height: 1;position: absolute;left: 35%;top: 30%;}
#headline-26-60 {margin-bottom: 30px;}
#headline-372-60 {color: #fff;}
#headline-42-60 {margin-bottom: 20px;}
#headline-406-60 {color: #fff;}
#headline-415-60 {color: #fff;}
#headline-417-60 {color: #fff;}
#headline-73-60 {margin-bottom: 30px;}
#text_block-8-60 {margin-left: auto;}
#text_block-29-60 {width: 75%;}
#text_block-502-60 {text-align: left;}
#text_block-369-60 {color: #fff;}
#text_block-403-60 {color: #fff;}
#text_block-411-60 {color: #fff;}
#text_block-413-60 {color: #fff;}
#_rich_text-28-60 {width: 60%;margin-left: auto;}
#image-114-60 {width: 100%;margin-top: 20px;margin-bottom: 20px;}
#image-138-60 {height: 35rem;width: 35rem;bottom: -15%;left: -15%;}
#image-153-60 {width: 400px;height: 400px;position: absolute;top: -100px;right: -100px;}
#image-31-60 {margin-top: -50px;}
#image-482-60 {height: auto;width: 100%;margin-top: auto;}
#image-165-60 {margin-top: 100px;}
#image-181-60 {width: 80%;}
#shopwise-model {width: 85%;margin-left: -15%;z-index: 1;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;margin-top: -140px;}
#image-521-60 {margin-bottom: 0px;width: 100%;}
#image-538-60 {width: 100%;}
#image-532-60 {width: 100%;}
#image-65-60 {margin-top: 20px;}
#image-388-60 {width: 100%;margin-top: -100px;}
#image-456-60 {width: 100%;}
#image-449-60 {float: right;width: 75%;margin-left: 30px;}
#image-85-60 {width: 100%;}
@media (max-width:991px) {#image-138-60 {width: 25rem;height: 25rem;}}
@media (max-width:991px) {#image-153-60 {width: 200px;height: 200px;position: absolute;top: -50px;right: -50px;}}
@media (max-width:991px) {#shopwise-model {position: relative;}}
@media (max-width:767px) {#image-31-60 {margin-top: 20px;}}
@media (max-width:767px) {#image-165-60 {margin-top: 20px;}}
@media (max-width:767px) {#image-181-60 {width: 100%;margin-top: 30px;}}
@media (max-width:767px) {#shopwise-model {width: 80%;margin-top: -75px;margin-left: -15%;}}