#div_block-16-58 {width: 50%;}
#div_block-20-58 {width: 25%;}
#div_block-21-58 {width: 50%;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;margin-bottom: 0px;margin-top: 0px;}
#div_block-22-58 {width: 25%;}
#div_block-35-58 {width: 25%;}
#div_block-37-58 {width: 50%;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;margin-bottom: 0px;margin-top: 0px;}
#div_block-39-58 {width: 25%;}
#div_block-17-58 {width: 50%;}
@media (max-width:991px) {#new_columns-15-58> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-15-58> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-19-58> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-19-58> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-34-58> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-34-58> .ct-div-block {width: 100% !important;}}
#headline-3-58 {color: #c43145;}
#headline-5-58 {color: #c43145;}
#headline-7-58 {color: #c43145;}
#_progress_bar-12-58 .oxy-progress-bar-background {background-color: #faf5eb;background-image: none;animation: none 0s paused;}
#_progress_bar-12-58 .oxy-progress-bar-progress-wrap {width: 100%;}
#_progress_bar-12-58 .oxy-progress-bar-progress {background-color: #c43145;padding: 31px;animation: none 0s paused,none 0s paused;background-image: none;}
#_progress_bar-12-58 {progress-bar-bar-color: #c43145;progress-bar-background-color: #faf5eb;progress-bar-progress: 100;width: 100%;margin-bottom: 0px;margin-top: 0px;padding-bottom: 0px;padding-top: 0px;}
#_progress_bar-38-58 .oxy-progress-bar-background {background-color: #faf5eb;background-image: none;animation: none 0s paused;}
#_progress_bar-38-58 .oxy-progress-bar-progress-wrap {width: 100%;}
#_progress_bar-38-58 .oxy-progress-bar-progress {background-color: #c43145;padding: 31px;animation: none 0s paused,none 0s paused;background-image: none;}
#_progress_bar-38-58 {progress-bar-bar-color: #c43145;progress-bar-background-color: #faf5eb;progress-bar-progress: 100;width: 100%;margin-bottom: 0px;margin-top: 0px;padding-bottom: 0px;padding-top: 0px;}