#div_block-1394-68 {width: 100%;margin-bottom: 20px;}
#div_block-1397-68 {width: 25%;align-items: flex-start;text-align: left;justify-content: center;}
#div_block-1396-68 {width: 75%;align-items: center;text-align: center;justify-content: center;}
@media (max-width:991px) {#div_block-1394-68 {width: 100%;}}