#section-1-439 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-1-439 {background-color: #f4f3ec;}
#div_block-5-439 {width: 100%;flex-direction: row;display: flex;flex-wrap: wrap;}
#div_block-6-439 {overflow: hidden;position: relative;}
#div_block-28-439 {overflow: hidden;position: relative;}
#div_block-30-439 {overflow: hidden;position: relative;}
#div_block-32-439 {overflow: hidden;position: relative;}
#div_block-34-439 {overflow: hidden;position: relative;}
#image-27-439 {width: 100%;}
#image-29-439 {width: 100%;}
#image-31-439 {width: 100%;}
#image-33-439 {width: 100%;}
#image-35-439 {width: 100%;}