#chairman-and-presidents-message > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#chairman-and-presidents-message {overflow: hidden;position: relative;}
#section-177-16 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-177-16 {background-color: #c2404e;}
#section-124-16 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-124-16 {overflow: hidden;position: relative;}
#section-155-16 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-155-16 {background-color: #faf5eb;position: relative;overflow: hidden;}
#section-167-16 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-167-16 {background-color: #fef0f0;}
#section-278-16 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-278-16 {background-image: linear-gradient(90deg,#fef0f0 90px,#fff);}
#section-329-16 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-351-16 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-351-16 {background-color: #fef0f0;}
#section-489-16 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-489-16 {background-image: linear-gradient(90deg,#fef0f0 50%,#f4f3ec 50%);background-color: #f4f3ec;overflow: hidden;}
#conglomerate-map > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#conglomerate-map {position: relative;}
#section-532-16 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-bottom: 150px;padding-left: 0;}
#section-532-16 {background-color: #fef0f0;}
@media (max-width:767px) {#section-155-16 {position: relative;}}
#div_block-613-16 {transform: translateY(-50%);width: 10px;background-color: #f0e85d;position: absolute;left: 0px;top: 50%;height: 200%;max-height: 200%;}
#cpm-trigger {border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#div_block-93-16 {width: 70%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;margin-right: 0px;}
#div_block-1318-520 {height: 150px;}
#div_block-94-16 {width: 30%;}
#div_block-1029-16 {margin-top: 20px;margin-bottom: 30px;}
#div_block-1031-16 {margin-top: 20px;margin-bottom: 30px;}
#div_block-1314-520 {margin-left: auto;}
#div_block-616-16 {transform: translateY(-50%);width: 10px;background-color: #f0e85d;position: absolute;top: 50%;height: 200%;max-height: 200%;right: 0px;}
#bridging-gap {display: flex;}
#div_block-237-16 {padding-top: 0px;padding-left: 0px;padding-bottom: 0px;}
#div_block-238-16 {padding-top: 0px;padding-bottom: 0px;}
#div_block-618-16 {transform: translateY(-50%);width: 5%;background-color: #f0e85d;position: absolute;left: 0px;top: 50%;height: 200%;max-height: 200%;}
#div_block-250-16 {padding-top: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-251-16 {padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-270-16 {padding-left: 0px;padding-top: 0px;padding-bottom: 0px;}
#div_block-1183-16 {margin-top: -70px;}
#div_block-271-16 {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
#a-new-normal {padding-top: 75px;padding-bottom: 0px;background-color: #fff;}
#div_block-823-16 {transform: translate(-100%);width: 20px;background-color: #fff;height: 100%;position: absolute;top: 0px;left: 0px;margin-left: 0px;margin-right: 0px;}
#div_block-284-16 {padding-left: 0px;padding-top: 0px;padding-bottom: 0px;}
#div_block-285-16 {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
#div_block-300-16 {width: 50%;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-301-16 {width: 50%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-1305-520 {width: auto;}
#div_block-340-16 {padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;}
#div_block-341-16 {padding-top: 0px;}
#div_block-363-16 {width: 100%;}
#div_block-354-16 {width: 25%;align-items: flex-end;text-align: right;justify-content: center;padding-top: 0px;padding-bottom: 0px;}
#div_block-355-16 {width: 75%;justify-content: center;}
#div_block-358-16 {width: 25%;}
#div_block-359-16 {width: 45%;}
#div_block-360-16 {width: 30%;}
#div_block-382-16 {width: 100%;}
#div_block-384-16 {width: 25%;align-items: flex-end;text-align: right;justify-content: center;padding-top: 0px;padding-bottom: 0px;}
#div_block-386-16 {width: 75%;justify-content: center;}
#div_block-389-16 {width: 25%;}
#div_block-390-16 {width: 45%;}
#div_block-393-16 {width: 30%;}
#div_block-395-16 {width: 100%;}
#div_block-397-16 {width: 25%;align-items: flex-end;text-align: right;justify-content: center;padding-top: 0px;padding-bottom: 0px;}
#div_block-399-16 {width: 75%;justify-content: center;}
#div_block-402-16 {width: 25%;}
#div_block-403-16 {width: 45%;}
#div_block-406-16 {width: 30%;}
#div_block-408-16 {width: 100%;}
#div_block-410-16 {width: 25%;align-items: flex-end;text-align: right;justify-content: center;padding-top: 0px;padding-bottom: 0px;}
#div_block-412-16 {width: 75%;justify-content: center;}
#div_block-415-16 {width: 25%;}
#div_block-416-16 {width: 45%;}
#div_block-419-16 {width: 30%;}
#div_block-599-16 {transform: translateY(-50%);width: 100%;position: absolute;top: 50%;left: 0%;height: 200%;z-index: 0;max-height: 200%;}
#div_block-606-16 {width: 25%;padding-left: 0px;padding-bottom: 0px;padding-top: 0px;padding-right: 20px;}
#div_block-611-16 {width: 80px;background-color: #f0e85d;margin-left: auto;height: 100%;}
#div_block-607-16 {width: 45%;background-color: #f4f3ec;}
#div_block-609-16 {width: 30%;}
#div_block-491-16 {width: 100%;}
#div_block-493-16 {width: 25%;align-items: flex-end;text-align: right;justify-content: center;padding-top: 0px;padding-bottom: 0px;}
#div_block-495-16 {width: 75%;justify-content: center;}
#div_block-498-16 {width: 25%;}
#div_block-499-16 {width: 45%;}
#div_block-502-16 {width: 30%;}
#div_block-504-16 {width: 100%;}
#div_block-506-16 {width: 25%;align-items: flex-end;text-align: right;justify-content: center;padding-top: 0px;padding-bottom: 0px;}
#div_block-508-16 {width: 75%;justify-content: center;}
#div_block-511-16 {width: 25%;}
#div_block-512-16 {width: 45%;}
#div_block-514-16 {width: 30%;}
#c-map {width: 100%;position: relative;}
#div_block-546-16 {width: 100%;flex-direction: row;display: flex;align-items: center;justify-content: space-between;text-align: justify;border-bottom-color: #c2404e;border-bottom-width: 5px;border-bottom-style: solid;}
#div_block-549-16 {width: 20%;padding-left: 0px;}
#div_block-550-16 {width: 80%;}
#div_block-558-16 {border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #c2404e;width: 100%;}
#div_block-553-16 {width: 50%;padding-left: 0px;}
#div_block-554-16 {width: 50%;padding-left: 0px;}
#div_block-592-16 {width: 50%;padding-left: 0px;}
#div_block-595-16 {width: 50%;padding-left: 0px;}
#div_block-826-16 {width: 20%;padding-left: 0px;}
#div_block-828-16 {width: 80%;}
#div_block-1006-16 {border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #c2404e;width: 100%;}
#div_block-1015-16 {width: 50%;padding-left: 0px;}
#div_block-1018-16 {width: 50%;padding-left: 0px;}
#div_block-849-16 {width: 20%;padding-left: 0px;}
#div_block-851-16 {width: 80%;}
#div_block-1022-16 {border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #c2404e;width: 100%;}
#div_block-1024-16 {width: 50%;padding-left: 0px;}
#div_block-1025-16 {width: 50%;padding-left: 0px;}
#div_block-879-16 {width: 20%;padding-left: 0px;}
#div_block-881-16 {width: 80%;}
#div_block-884-16 {border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #c2404e;width: 100%;}
#div_block-886-16 {width: 50%;padding-left: 0px;}
#div_block-889-16 {width: 50%;padding-left: 0px;}
#div_block-893-16 {width: 50%;padding-left: 0px;}
#div_block-896-16 {width: 50%;padding-left: 0px;}
#div_block-914-16 {width: 20%;padding-left: 0px;}
#div_block-916-16 {width: 80%;}
#div_block-919-16 {border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #c2404e;width: 100%;}
#div_block-921-16 {width: 50%;padding-left: 0px;}
#div_block-924-16 {width: 50%;padding-left: 0px;}
#div_block-928-16 {width: 50%;padding-left: 0px;}
#div_block-931-16 {width: 50%;padding-left: 0px;}
#div_block-943-16 {width: 20%;padding-left: 0px;}
#div_block-945-16 {width: 80%;}
#div_block-948-16 {border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #c2404e;width: 100%;}
#div_block-950-16 {width: 50%;padding-left: 0px;}
#div_block-953-16 {width: 50%;padding-left: 0px;}
#div_block-970-16 {width: 20%;padding-left: 0px;}
#div_block-972-16 {width: 80%;}
#div_block-975-16 {border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #c2404e;width: 100%;}
#div_block-977-16 {width: 33.33%;padding-left: 0px;}
#div_block-980-16 {width: 33.33%;padding-left: 0px;}
#div_block-985-16 {width: 33.34%;padding-left: 0px;}
#div_block-989-16 {width: 33.33%;padding-left: 0px;}
#div_block-992-16 {width: 33.33%;padding-left: 0px;}
#div_block-995-16 {width: 33.34%;padding-left: 0px;}
@media (max-width:991px) {#div_block-1318-520 {height: 0px;}}
@media (max-width:991px) {#div_block-94-16 {flex-direction: row;display: flex;justify-content: space-between;text-align: justify;}}
@media (max-width:991px) {#div_block-238-16 {padding-left: 0px;}}
@media (max-width:991px) {#div_block-251-16 {padding-left: 0px;}}
@media (max-width:991px) {#div_block-271-16 {padding-left: 0px;}}
@media (max-width:991px) {#div_block-285-16 {padding-left: 0px;}}
@media (max-width:767px) {#div_block-93-16 {padding-right: 0px;padding-left: 0px;}}
@media (max-width:767px) {#div_block-94-16 {flex-direction: column;display: flex;align-items: center;text-align: center;}}
@media (max-width:767px) {#div_block-237-16 {padding-right: 0px;padding-left: 0px;}}
@media (max-width:767px) {#div_block-250-16 {padding-right: 0px;padding-left: 0px;}}
@media (max-width:767px) {#div_block-270-16 {padding-right: 0px;padding-left: 0px;}}
@media (max-width:767px) {#div_block-284-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-300-16 {margin-bottom: 30px;}}
@media (max-width:767px) {#div_block-341-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-354-16 {padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-355-16 {padding-right: 0px;}}
@media (max-width:767px) {#div_block-358-16 {display: none;}}
@media (max-width:767px) {#div_block-359-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-360-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-384-16 {padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-386-16 {padding-right: 0px;}}
@media (max-width:767px) {#div_block-389-16 {display: none;}}
@media (max-width:767px) {#div_block-390-16 {padding-left: 0px;padding-right: 0px;padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-393-16 {padding-left: 0px;padding-right: 0px;padding-top: 0px;}}
@media (max-width:767px) {#div_block-397-16 {padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-399-16 {padding-right: 0px;}}
@media (max-width:767px) {#div_block-402-16 {display: none;}}
@media (max-width:767px) {#div_block-403-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-406-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-410-16 {padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-412-16 {padding-right: 0px;}}
@media (max-width:767px) {#div_block-415-16 {display: none;}}
@media (max-width:767px) {#div_block-416-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-419-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-606-16 {display: none;}}
@media (max-width:767px) {#div_block-607-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-609-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-493-16 {padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-495-16 {padding-right: 0px;}}
@media (max-width:767px) {#div_block-498-16 {display: none;}}
@media (max-width:767px) {#div_block-499-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-502-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-506-16 {padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-508-16 {padding-right: 0px;}}
@media (max-width:767px) {#div_block-511-16 {display: none;}}
@media (max-width:767px) {#div_block-512-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-514-16 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:991px) {#new_columns-92-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-236-16> .ct-div-block {width: 100% !important;}}
#new_columns-236-16 {display: flex;flex-direction: row;align-items: flex-start;justify-content: flex-start;align-content: flex-start;}
@media (max-width:991px) {#new_columns-249-16> .ct-div-block {width: 100% !important;}}
#new_columns-249-16 {margin-bottom: 2em;}
@media (max-width:991px) {#new_columns-269-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-269-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-283-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-283-16> .ct-div-block {width: 100% !important;}}
@media (max-width:767px) {#new_columns-299-16> .ct-div-block {width: 100% !important;}
	#new_columns-299-16 {flex-direction: column;}}
#new_columns-299-16 {margin-top: 30px;}
@media (max-width:991px) {#new_columns-339-16> .ct-div-block {width: 100% !important;}}
#new_columns-339-16 {width: auto;min-width: ;}
@media (max-width:767px) {#new_columns-357-16> .ct-div-block {width: 100% !important;}
	#new_columns-357-16 {flex-direction: column;}}
@media (max-width:767px) {#new_columns-388-16> .ct-div-block {width: 100% !important;}
	#new_columns-388-16 {flex-direction: column;}}
@media (max-width:767px) {#new_columns-401-16> .ct-div-block {width: 100% !important;}
	#new_columns-401-16 {flex-direction: column;}}
@media (max-width:767px) {#new_columns-414-16> .ct-div-block {width: 100% !important;}
	#new_columns-414-16 {flex-direction: column;}}
#new_columns-605-16 {height: 100%;}
@media (max-width:767px) {#new_columns-497-16> .ct-div-block {width: 100% !important;}
	#new_columns-497-16 {flex-direction: column;}}
@media (max-width:767px) {#new_columns-510-16> .ct-div-block {width: 100% !important;}
	#new_columns-510-16 {flex-direction: column;}}
#headline-85-16 {margin-bottom: 50px;}
#headline-126-16 {margin-bottom: 50px;}
#headline-156-16 {margin-bottom: 50px;}
#headline-168-16 {margin-bottom: 50px;}
#headline-281-16 {margin-bottom: 50px;}
#headline-333-16 {margin-bottom: 50px;}
#headline-530-16 {margin-bottom: 80px;}
@media (max-width:991px) {#headline-530-16 {margin-bottom: 30px;}}
@media (max-width:767px) {#headline-530-16 {margin-bottom: 20px;}}
#text_block-87-16 {width: 100%;color: #c2404e;}
#text_block-1065-16 {width: 100%;color: #c2404e;}
#text_block-89-16 {width: 100%;}
#text_block-1055-16 {width: 100%;}
#text_block-1056-16 {width: 100%;}
#text_block-314-16 {font-weight: 700;}
#text_block-1061-16 {width: 100%;}
#text_block-117-16 {width: 100%;}
#text_block-320-16 {font-size: 18px;}
#text_block-322-16 {font-size: 18px;}
#text_block-366-16 {margin-top: 0px;}
#text_block-1218-16 {margin-top: 0px;}
#text_block-391-16 {margin-top: 0px;}
#text_block-1223-16 {margin-top: 0px;}
#text_block-404-16 {margin-top: 0px;}
#text_block-1242-16 {margin-top: 0px;}
#text_block-1244-16 {margin-top: 0px;}
#text_block-1235-16 {margin-top: 0px;}
#text_block-1229-16 {margin-top: 0px;}
#text_block-1231-16 {margin-top: 0px;}
#_rich_text-335-16 {color: #c2404e;font-size: 18px;margin-bottom: 20px;}
#image-98-16 {width: 100%;height: auto;}
#image-108-16 {width: 100%;height: auto;}
#image-1159-16 {width: 100%;margin-bottom: 1em;}
#image-536-16 {width: 100%;}
#image-1182-16 {width: 100%;}
#image-304-16 {width: 200px;margin-bottom: 30px;}
#image-303-16 {width: 200px;margin-bottom: 30px;}
#image-541-16 {height: auto;width: 70%;bottom: 0px;left: -10%;margin-top: 75px;}
#image-816-16 {transform: translate(-50%);width: 15%;position: absolute;top: 0px;left: 0%;z-index: -1;}
#image-822-16 {width: 100%;}
#image-820-16 {transform: translate(70%,-25%);width: 35%;position: absolute;right: 0px;top: 0%;z-index: 1;}
#image-547-16 {width: 200px;margin-left: auto;margin-right: 15px;}
@media (max-width:991px) {#image-1182-16 {z-index: -1;}}
#span-1035-16 {font-size: 18px;}
#span-1037-16 {font-size: 18px;}