#chairman-and-presidents-message > .ct-section-inner-wrap {max-width: 100%;}
#section-177-16 > .ct-section-inner-wrap {max-width: 100%;}
#section-177-16 {background-color: #c43145;}
#section-124-16 > .ct-section-inner-wrap {max-width: 100%;}
#section-155-16 > .ct-section-inner-wrap {max-width: 100%;}
#section-155-16 {background-color: #faf5eb;}
#section-167-16 > .ct-section-inner-wrap {max-width: 100%;}
#section-167-16 {background-color: #f9ddde;}
#section-278-16 > .ct-section-inner-wrap {max-width: 100%;}
#section-329-16 > .ct-section-inner-wrap {max-width: 100%;}
#div_block-93-16 {width: 70%;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;margin-right: 0px;}
#div_block-94-16 {width: 30%;}
#div_block-149-16 {display: block;}
#div_block-237-16 {width: 50%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;}
#div_block-238-16 {width: 50%;padding-top: 0px;padding-bottom: 0px;}
#div_block-250-16 {width: 50%;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-251-16 {width: 50%;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-270-16 {width: 50%;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;}
#div_block-271-16 {width: 50%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
#div_block-284-16 {width: 50%;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;}
#div_block-285-16 {width: 50%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
#div_block-300-16 {width: 50%;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-301-16 {width: 50%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
@media (max-width:991px) {#div_block-94-16 {flex-direction: row;display: flex;justify-content: space-between;text-align: justify;}}
@media (max-width:991px) {#div_block-238-16 {padding-left: 0px;}}
@media (max-width:991px) {#div_block-251-16 {padding-left: 0px;}}
@media (max-width:991px) {#div_block-271-16 {padding-left: 0px;}}
@media (max-width:991px) {#div_block-285-16 {padding-left: 0px;}}
@media (max-width:767px) {#div_block-94-16 {flex-direction: column;display: flex;align-items: center;text-align: center;}}
@media (max-width:991px) {#new_columns-92-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-236-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-236-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-249-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-249-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-269-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-269-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-283-16> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-283-16> .ct-div-block {width: 100% !important;}}
@media (max-width:767px) {#new_columns-299-16> .ct-div-block {width: 100% !important;}
	#new_columns-299-16 {flex-direction: column;}}
#new_columns-299-16 {margin-top: 30px;}
#text_block-87-16 {color: #e3493b;width: 100%;}
#text_block-89-16 {width: 100%;}
#text_block-117-16 {width: 100%;}
#image-98-16 {width: 100%;height: auto;}
#image-108-16 {width: 100%;height: auto;}