#section-1927-468 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-1927-468 {background-color: #f4f3ec;overflow: hidden;}
#div_block-1930-468 {width: 100%;flex-wrap: wrap;z-index: 3;}
#div_block-1931-468 {overflow: hidden;position: relative;}
#div_block-1950-468 {overflow: hidden;position: relative;}
#div_block-1952-468 {overflow: hidden;position: relative;}
#div_block-1954-468 {overflow: hidden;position: relative;}
#div_block-1956-468 {overflow: hidden;position: relative;}
#div_block-1958-468 {overflow: hidden;position: relative;}
#div_block-1960-468 {overflow: hidden;position: relative;}
#div_block-1962-468 {overflow: hidden;position: relative;}
#div_block-1964-468 {overflow: hidden;position: relative;}
#div_block-1966-468 {overflow: hidden;position: relative;}
#div_block-1968-468 {overflow: hidden;position: relative;}
#div_block-1970-468 {overflow: hidden;position: relative;}
#div_block-1972-468 {overflow: hidden;position: relative;}
#div_block-1974-468 {overflow: hidden;position: relative;}
#div_block-1976-468 {overflow: hidden;position: relative;}
#div_block-1978-468 {overflow: hidden;position: relative;}
#div_block-1980-468 {overflow: hidden;position: relative;}
#div_block-1982-468 {overflow: hidden;position: relative;}
#div_block-1984-468 {overflow: hidden;position: relative;}
#div_block-1946-468 {overflow: hidden;position: relative;}
#div_block-1988-468 {overflow: hidden;position: relative;}
#div_block-1990-468 {overflow: hidden;position: relative;}
#div_block-1992-468 {overflow: hidden;position: relative;}
#headline-1929-468 {margin-bottom: 75px;}
#image-1994-468 {transform: translate(-30%,-50%);width: 90%;position: absolute;top: 0px;left: 0px;}
#image-1996-468 {transform: translate(50%,50%);position: absolute;right: 0px;bottom: 0px;width: 60%;}
#image-1932-468 {width: 100%;}
#image-1951-468 {width: 100%;}
#image-1953-468 {width: 100%;}
#image-1955-468 {width: 100%;}
#image-1957-468 {width: 100%;}
#image-1959-468 {width: 100%;}
#image-1961-468 {width: 100%;}
#image-1963-468 {width: 100%;}
#image-1965-468 {width: 100%;}
#image-1967-468 {width: 100%;}
#image-1969-468 {width: 100%;}
#image-1971-468 {width: 100%;}
#image-1973-468 {width: 100%;}
#image-1975-468 {width: 100%;}
#image-1977-468 {width: 100%;}
#image-1979-468 {width: 100%;}
#image-1981-468 {width: 100%;}
#image-1983-468 {width: 100%;}
#image-1985-468 {width: 100%;}
#image-1947-468 {width: 100%;}
#image-1989-468 {width: 100%;}
#image-1991-468 {width: 100%;}
#image-1993-468 {width: 100%;}