#section-2-71 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-2-71 {background-color: #c2404e;overflow: hidden;}
#section-1445-71 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-1445-71 {background-color: #c2404e;overflow: hidden;}
#section-194-71 > .ct-section-inner-wrap {max-width: 100%;padding-top: 80px;padding-right: 0;padding-bottom: 80px;padding-left: 0;}
#section-194-71 {background-color: #fef0f0;}
#economic-value-generated-and-distributed > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#economic-value-generated-and-distributed {background-color: #f4f3ec;}
#section-724-71 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-724-71 {background-color: #f4f3ec;}
#section-328-71 > .ct-section-inner-wrap {max-width: 100%;padding-bottom: 0;}
#our-supply-chain > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-1169-71 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-1285-71 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-1303-71 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-bottom: 10px;padding-left: 0;}
#section-1351-71 > .ct-section-inner-wrap {max-width: 100%;padding-top: 20px;padding-right: 0;padding-bottom: 20px;padding-left: 0;}
#section-1351-71 {background-color: #f4f3ec;}
#section-1372-71 > .ct-section-inner-wrap {max-width: 100%;padding-top: 20px;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-487-71 > .ct-section-inner-wrap {max-width: 100%;padding-top: 80px;padding-right: 0;padding-bottom: 80px;padding-left: 0;}
#section-487-71 {background-color: #f4f3ec;}
#our-environment > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#our-environment {overflow: hidden;}
#section-1545-71 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-1545-71 {overflow: hidden;}
#section-1556-71 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-1556-71 {overflow: hidden;background-color: #f4f3ec;}
#section-1575-71 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-1600-71 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-1600-71 {position: relative;overflow: hidden;}
#section-1657-71 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-1657-71 {overflow: hidden;}
#sustainability-framework {width: 100%;z-index: 5;}
#div_block-1413-71 {width: 85%;margin-left: auto;}
#div_block-1414-71 {width: 100%;color: #c2404e;margin-top: 175px;margin-bottom: 50px;}
#div_block-1400-71 {width: 25%;}
#div_block-1401-71 {width: 75%;}
#div_block-1423-71 {width: 100%;color: #c2404e;}
#div_block-1425-71 {width: 25%;}
#div_block-1427-71 {width: 75%;}
#div_block-1416-71 {width: 100%;color: #c2404e;}
#div_block-1418-71 {width: 25%;}
#div_block-1420-71 {width: 75%;}
#div_block-1436-71 {width: 100%;color: #c2404e;}
#div_block-1438-71 {width: 25%;}
#div_block-1440-71 {width: 75%;}
#value-creation {width: 100%;z-index: 5;}
#div_block-1451-71 {width: 85%;margin-left: auto;}
#div_block-1457-71 {width: 100%;color: #fff;}
#div_block-1459-71 {width: 25%;}
#div_block-1461-71 {width: 75%;}
#div_block-1464-71 {width: 100%;color: #c2404e;}
#div_block-1466-71 {width: 25%;}
#div_block-1468-71 {width: 75%;}
#div_block-1471-71 {width: 100%;color: #c2404e;}
#div_block-1473-71 {width: 25%;}
#div_block-1475-71 {width: 75%;}
#div_block-491-71 {background-image: linear-gradient(90deg,#c2404e 50%,#fef0f0 50%);background-size: auto,50% 100%;width: 100%;margin-top: 20px;margin-bottom: 20px;color: #fff;}
#div_block-903-71 {width: 100%;}
#div_block-911-71 {width: 70%;background-color: #c2404e;}
#div_block-1532-71 {width: 33.33%;align-items: center;text-align: center;justify-content: center;}
#div_block-1535-71 {width: 33.33%;align-items: center;text-align: center;justify-content: center;}
#div_block-1538-71 {width: 33.34%;align-items: center;text-align: center;justify-content: center;}
#div_block-202-71 {align-items: flex-end;display: flex;}
#div_block-1725-71 {align-items: stretch;grid-template-columns: repeat(2,minmax(auto,50%));grid-column-gap: 20px;grid-row-gap: 0px;width: 80%;display: grid;margin-left: auto;}
#div_block-227-71 {margin-left: auto;width: 80%;padding-top: 20px;padding-bottom: 20px;background-color: #fff;}
#div_block-221-71 {width: 50%;border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: #c2404e;justify-content: center;}
#div_block-222-71 {width: 50%;justify-content: center;}
#div_block-229-71 {margin-left: auto;width: 80%;padding-top: 20px;padding-bottom: 20px;background-color: #fff;margin-top: 20px;color: #c2404e;}
#div_block-231-71 {width: 65%;border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: #c2404e;justify-content: center;margin-left: 0px;padding-left: 20px;}
#div_block-237-71 {width: 33.33%;}
#div_block-238-71 {width: 33.33%;}
#div_block-239-71 {width: 33.34%;}
#div_block-255-71 {width: 33.33%;}
#div_block-258-71 {width: 33.33%;}
#div_block-261-71 {width: 33.34%;}
#div_block-269-71 {margin-left: auto;width: 80%;padding-top: 20px;padding-bottom: 20px;margin-top: 0px;color: #c2404e;}
#div_block-383-71 {width: 50%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;}
#div_block-384-71 {width: 50%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
#div_block-341-71 {width: 95%;margin-left: auto;}
#div_block-343-71 {width: 50%;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-344-71 {width: 50%;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-354-71 {width: 50%;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-357-71 {width: 50%;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-361-71 {width: 50%;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-364-71 {width: 50%;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-1102-71 {width: 50%;padding-left: 0px;}
#div_block-1105-71 {width: 50%;padding-right: 0px;}
#div_block-1108-71 {width: 100%;}
#div_block-1110-71 {width: 50%;padding-left: 0px;}
#div_block-1112-71 {width: 50%;padding-right: 0px;}
#div_block-1113-71 {background-color: #6c0324;margin-left: auto;width: 100%;margin-top: 40px;margin-bottom: 40px;}
#div_block-1115-71 {width: 50%;align-items: center;text-align: center;}
#div_block-1118-71 {width: 50%;align-items: center;text-align: center;}
#div_block-1164-71 {margin-left: auto;margin-right: auto;position: relative;overflow: visible;width: 80%;margin-bottom: 50px;}
#div_block-1156-71 {width: 100%;}
#div_block-1171-71 {background-color: #fef0f0;padding-top: 50px;padding-bottom: 75px;}
#div_block-1170-71 {padding-top: 50px;padding-bottom: 50px;}
#div_block-1202-71 {width: 100%;display: flex;align-items: flex-start;justify-content: center;text-align: center;margin-bottom: 30px;flex-direction: row;}
#div_block-1203-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1483-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1486-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1489-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1492-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1495-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1501-71 {width: 100%;flex-direction: row;display: flex;align-items: flex-start;justify-content: center;text-align: center;}
#div_block-1523-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1508-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1511-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1514-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1517-71 {flex-direction: column;display: flex;align-items: center;text-align: center;width: 16.666666666667%;}
#div_block-1174-71 {padding-top: 50px;padding-bottom: 75px;}
#div_block-1177-71 {width: 40%;padding-left: 0px;}
#div_block-1178-71 {width: 30%;}
#div_block-1179-71 {width: 30%;}
#div_block-1244-71 {background-color: #f4f3ec;padding-bottom: 75px;padding-top: 50px;}
#div_block-1247-71 {width: 40%;padding-left: 0px;}
#div_block-1249-71 {width: 30%;}
#div_block-1252-71 {width: 30%;}
#div_block-1268-71 {background-color: #c2404e;padding-bottom: 75px;padding-top: 50px;}
#div_block-1289-71 {width: 60%;padding-left: 0px;padding-right: 0px;}
#div_block-1290-71 {width: 40%;padding-left: 30px;padding-right: 30px;position: relative;}
#div_block-1295-71 {width: 40px;height: 100%;position: absolute;top: 0px;left: 0px;background-color: #c2404e;z-index: -1;}
#div_block-1299-71 {width: 100%;align-items: center;text-align: center;overflow: hidden;}
#empowering-farmers {width: 70%;padding-left: 0px;padding-bottom: 0px;}
#div_block-1311-71 {width: 100%;}
#div_block-1350-71 {width: 100%;height: 350px;overflow: hidden;justify-content: center;align-items: center;text-align: center;}
#div_block-1309-71 {width: 60%;padding-left: 0px;}
#div_block-1336-71 {}
#div_block-1310-71 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-1337-71 {}
#div_block-1307-71 {width: 30%;align-items: center;text-align: center;justify-content: center;padding-bottom: 0px;}
#div_block-1380-71 {width: 50%;padding-left: 0px;padding-right: 0px;}
#div_block-1381-71 {width: 50%;padding-left: 0px;padding-right: 0px;align-items: center;text-align: center;}
#div_block-914-71 {background-image: linear-gradient(90deg,#155625 50%,#f4f3ec 50%);background-size: auto,50% 100%;width: 100%;margin-top: 20px;margin-bottom: 20px;color: #fff;}
#div_block-915-71 {width: 100%;}
#div_block-916-71 {width: 70%;background-color: #155625;}
#div_block-918-71 {width: 33.33%;align-items: center;text-align: center;justify-content: flex-start;}
#div_block-921-71 {width: 33.33%;align-items: center;text-align: center;}
#div_block-924-71 {width: 33.34%;align-items: center;}
#div_block-1385-71 {width: 100%;margin-bottom: 50px;margin-top: -120px;flex-direction: row;display: flex;align-items: stretch;}
#div_block-545-71 {z-index: 2;}
#div_block-1387-71 {width: 300px;margin-left: -50px;height: 2px;background-color: #155625;margin-top: 10px;margin-bottom: 10px;}
#div_block-1389-71 {position: relative;z-index: 0;padding-top: 50px;padding-bottom: 50px;}
#div_block-1752-71 {flex-direction: row;display: flex;}
#div_block-1555-71 {padding-top: 75px;padding-bottom: 75px;background-color: #f4f3ec;}
#div_block-1546-71 {position: relative;}
#div_block-1552-71 {position: relative;padding-top: 75px;padding-bottom: 75px;}
#div_block-1560-71 {position: relative;}
#div_block-1563-71 {width: 40%;padding-left: 0px;justify-content: center;}
#div_block-1564-71 {width: 60%;padding-right: 0px;}
#div_block-1581-71 {width: 40%;justify-content: center;padding-left: 0px;}
#div_block-1582-71 {width: 60%;padding-right: 0px;}
#div_block-1601-71 {padding-top: 50px;padding-bottom: 0px;}
#div_block-1604-71 {width: 35%;padding-left: 0px;}
#div_block-1606-71 {width: 65%;padding-right: 0px;}
#div_block-1652-71 {width: 100%;margin-bottom: 30px;}
#div_block-1655-71 {width: 100%;align-items: center;text-align: center;padding-top: 100px;position: relative;margin-top: auto;}
#div_block-1617-71 {width: auto;}
#div_block-1680-71 {z-index: 5;color: #155625;width: 70%;margin-left: auto;margin-right: auto;align-items: flex-start;text-align: left;}
#div_block-1620-71 {width: 50%;padding-left: 0px;}
#div_block-1637-71 {justify-content: center;flex-direction: row;text-align: center;display: flex;align-items: flex-end;margin-bottom: 20px;}
#div_block-1621-71 {width: 50%;}
#div_block-1640-71 {justify-content: center;flex-direction: row;text-align: center;display: flex;align-items: flex-end;margin-bottom: 20px;}
#yellow-bar {background-color: #f0e85d;width: 100%;height: 40px;z-index: 0;}
#div_block-1658-71 {padding-top: 75px;padding-bottom: 75px;background-color: #f4f3ec;z-index: 2;}
#div_block-1659-71 {position: relative;}
#div_block-1667-71 {position: relative;padding-top: 75px;padding-bottom: 150px;}
#div_block-1769-71 {width: 100%;flex-direction: row;display: flex;}
@media (max-width:991px) {#div_block-1414-71 {margin-top: 50px;}}
@media (max-width:991px) {#div_block-911-71 {width: 90%;}}
@media (max-width:991px) {#div_block-335-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:991px) {#div_block-341-71 {width: 100%;}}
@media (max-width:991px) {#div_block-343-71 {padding-top: 0px;padding-left: 0px;}}
@media (max-width:991px) {#div_block-1102-71 {padding-right: 0px;}}
@media (max-width:991px) {#div_block-1105-71 {padding-left: 0px;}}
@media (max-width:991px) {#div_block-1307-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:991px) {#div_block-1318-71 {align-items: stretch;grid-template-columns: repeat(3,minmax(200px,1fr));grid-column-gap: 20px;grid-row-gap: 0px;display: grid;width: 100%;}}
@media (max-width:991px) {#div_block-916-71 {width: 90%;}}
@media (max-width:991px) {#div_block-1385-71 {margin-top: -70px;}}
@media (max-width:767px) {#div_block-1413-71 {width: 100%;}}
@media (max-width:767px) {#div_block-1400-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-1425-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-1418-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-1438-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-1451-71 {width: 100%;}}
@media (max-width:767px) {#div_block-1459-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-1466-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-1473-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-903-71 {background-color: #c2404e;flex-direction: column;display: flex;align-items: center;text-align: center;}}
@media (max-width:767px) {#div_block-911-71 {width: 100%;}}
@media (max-width:767px) {#div_block-1725-71 {flex-direction: column;display: flex;width: 100%;}}
@media (max-width:767px) {#div_block-229-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-231-71 {width: 100%;}}
@media (max-width:767px) {#div_block-383-71 {padding-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-384-71 {padding-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-343-71 {padding-right: 0px;padding-bottom: 0px;padding-left: 0px;padding-top: 0px;}}
@media (max-width:767px) {#div_block-344-71 {padding-left: 0px;padding-bottom: 0px;padding-right: 0px;padding-top: 0px;}}
@media (max-width:767px) {#div_block-354-71 {padding-right: 0px;padding-bottom: 0px;padding-left: 0px;padding-top: 0px;}}
@media (max-width:767px) {#div_block-357-71 {padding-left: 0px;padding-bottom: 0px;padding-right: 0px;padding-top: 0px;}}
@media (max-width:767px) {#div_block-361-71 {padding-right: 0px;padding-bottom: 0px;padding-left: 0px;padding-top: 0px;}}
@media (max-width:767px) {#div_block-364-71 {padding-left: 0px;padding-bottom: 0px;padding-right: 0px;padding-top: 0px;}}
@media (max-width:767px) {#div_block-1099-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1102-71 {padding-right: 0px;padding-left: 0px;}}
@media (max-width:767px) {#div_block-1105-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-1112-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-1113-71 {margin-top: 0px;}}
@media (max-width:767px) {#div_block-1170-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1202-71 {flex-direction: row;display: flex;padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 0px;flex-wrap: wrap;align-items: flex-start;justify-content: center;text-align: center;}}
@media (max-width:767px) {#div_block-1203-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1483-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1486-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1489-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1492-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1495-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1501-71 {flex-direction: row;display: flex;flex-wrap: wrap;align-items: flex-start;justify-content: center;text-align: center;}}
@media (max-width:767px) {#div_block-1523-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1508-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1511-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1514-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1517-71 {width: 50%;flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1175-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1178-71 {padding-left: 0px;}}
@media (max-width:767px) {#div_block-1179-71 {padding-left: 0px;}}
@media (max-width:767px) {#div_block-1245-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1249-71 {padding-left: 0px;}}
@media (max-width:767px) {#div_block-1252-71 {padding-left: 0px;}}
@media (max-width:767px) {#div_block-1269-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1287-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1304-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#empowering-farmers {padding-right: 0px;}}
@media (max-width:767px) {#div_block-1350-71 {width: 100%;height: auto;}}
@media (max-width:767px) {#div_block-1309-71 {padding-right: 0px;padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-1318-71 {display: flex;flex-direction: column;align-items: center;text-align: center;}}
@media (max-width:767px) {#div_block-1352-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#water-loop-system {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-915-71 {background-color: #c2404e;padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-916-71 {width: 100%;}}
@media (max-width:767px) {#div_block-503-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-524-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1385-71 {flex-direction: column;display: flex;margin-top: -30px;}}
@media (max-width:767px) {#div_block-545-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1389-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1752-71 {flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-1546-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1552-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1560-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1563-71 {padding-right: 0px;}}
@media (max-width:767px) {#div_block-1564-71 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:767px) {#div_block-1601-71 {padding-top: 0px;}}
@media (max-width:767px) {#div_block-1604-71 {padding-right: 0px;}}
@media (max-width:767px) {#div_block-1606-71 {padding-left: 0px;}}
@media (max-width:767px) {#div_block-1680-71 {width: 100%;}}
@media (max-width:767px) {#div_block-1659-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#div_block-1667-71 {padding-left: 20px;padding-right: 20px;}}
#new_columns-1399-71 {border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#new_columns-1424-71 {border-bottom-color: #c2404e;border-bottom-width: 1px;border-bottom-style: solid;}
#new_columns-1417-71 {border-bottom-color: #c2404e;border-bottom-width: 1px;border-bottom-style: solid;}
#new_columns-1437-71 {border-bottom-color: #c2404e;border-bottom-width: 1px;border-bottom-style: solid;}
#new_columns-1458-71 {border-bottom-color: #c2404e;border-bottom-width: 1px;border-bottom-style: solid;}
#new_columns-1465-71 {border-bottom-color: #c2404e;border-bottom-width: 1px;border-bottom-style: solid;}
#new_columns-1472-71 {border-bottom-color: #c2404e;border-bottom-width: 1px;border-bottom-style: solid;}
@media (max-width:991px) {#new_columns-220-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-220-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-236-71> .ct-div-block {width: 100% !important;}}
#new_columns-236-71 {padding-left: 20px;}
@media (max-width:991px) {#new_columns-254-71> .ct-div-block {width: 100% !important;}}
#new_columns-254-71 {padding-left: 20px;}
@media (max-width:991px) {#new_columns-382-71> .ct-div-block {width: 100% !important;}}
#new_columns-382-71 {margin-top: 20px;}
@media (max-width:767px) {#new_columns-342-71> .ct-div-block {width: 100% !important;}
	#new_columns-342-71 {flex-direction: column;}}
@media (max-width:767px) {#new_columns-353-71> .ct-div-block {width: 100% !important;}
	#new_columns-353-71 {flex-direction: column;}}
@media (max-width:767px) {#new_columns-360-71> .ct-div-block {width: 100% !important;}
	#new_columns-360-71 {flex-direction: column;}}
@media (max-width:991px) {#new_columns-1101-71> .ct-div-block {width: 100% !important;}
	#new_columns-1101-71 {flex-direction: column;}}
@media (max-width:991px) {#new_columns-1109-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1114-71> .ct-div-block {width: 100% !important;}}
#new_columns-1114-71 {float: right;color: #fff;}
@media (max-width:767px) {#new_columns-1176-71> .ct-div-block {width: 100% !important;}
	#new_columns-1176-71 {flex-direction: column;}}
#new_columns-1176-71 {padding-right: 0px;}
@media (max-width:767px) {#new_columns-1246-71> .ct-div-block {width: 100% !important;}
	#new_columns-1246-71 {flex-direction: column;}}
@media (max-width:991px) {#new_columns-1288-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1288-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1305-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1305-71> .ct-div-block {width: 100% !important;}}
@media (max-width:767px) {#new_columns-1308-71> .ct-div-block {width: 100% !important;}
	#new_columns-1308-71 {flex-direction: column;}}
@media (max-width:991px) {#new_columns-1379-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1379-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1562-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1562-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1580-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1580-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1603-71> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-1603-71> .ct-div-block {width: 100% !important;}}
#new_columns-1619-71 {z-index: 2;}
#headline-4-71 {z-index: 1;}
#headline-1409-71 {font-weight: 900;font-size: 3rem;}
#headline-1450-71 {z-index: 1;color: #fff;}
#headline-1462-71 {color: #fff;}
#headline-1469-71 {color: #fff;}
#headline-1476-71 {color: #fff;}
#headline-931-71 {margin-bottom: 30px;}
#headline-1533-71 {line-height: 1;margin-top: 0px;margin-bottom: 10px;padding-top: 0px;padding-bottom: 0px;}
#headline-1536-71 {line-height: 1;margin-bottom: 10px;}
#headline-1540-71 {line-height: 1;margin-bottom: 10px;}
#headline-1116-71 {color: #fff;}
#headline-1119-71 {color: #fff;}
#headline-1291-71 {margin-top: 30px;margin-bottom: 30px;}
#headline-489-71 {color: #155625;}
#headline-904-71 {color: #155625;}
#headline-519-71 {font-size: 2em;color: #155625;}
#headline-525-71 {color: #155625;}
#headline-527-71 {color: #155625;}
#headline-557-71 {color: #155625;}
#headline-1390-71 {color: #155625;}
#headline-1577-71 {color: #155625;}
#headline-1602-71 {margin-bottom: 30px;color: #155625;}
#headline-1614-71 {margin-bottom: 30px;z-index: 2;color: #155625;}
@media (max-width:991px) {#headline-519-71 {font-size: 1.2em;}}
@media (max-width:767px) {#headline-1409-71 {font-size: 2.5em;}}
@media (max-width:767px) {#headline-195-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#headline-931-71 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#headline-519-71 {font-size: 2em;color: #c2404e;}}
#text_block-205-71 {text-align: left;}
#text_block-1719-71 {margin-left: auto;text-align: left;}
#text_block-292-71 {margin-left: 40px;}
#text_block-321-71 {margin-bottom: 20px;}
#text_block-761-71 {margin-bottom: 20px;}
#text_block-333-71 {width: 80%;}
#text_block-375-71 {width: 100%;margin-top: 0px;margin-bottom: 0px;font-size: 20px;}
#text_block-377-71 {width: 100%;}
#text_block-1284-71 {color: #fff;}
#text_block-1293-71 {margin-left: auto;margin-right: auto;padding-left: 50px;padding-right: 50px;}
#text_block-1360-71 {margin-bottom: 30px;}
#text_block-1366-71 {margin-bottom: 30px;}
#text_block-504-71 {margin-left: auto;width: 70%;margin-top: 30px;margin-bottom: 30px;}
#text_block-556-71 {width: 60%;margin-right: 40px;}
#text_block-1749-71 {width: 40%;}
#text_block-1765-71 {width: 55%;margin-right: 50px;}
#text_block-1767-71 {width: 45%;}
@media (max-width:767px) {#text_block-205-71 {width: 100%;}}
@media (max-width:767px) {#text_block-1719-71 {width: 100%;}}
@media (max-width:767px) {#text_block-333-71 {width: 100%;}}
@media (max-width:767px) {#text_block-556-71 {margin-top: 0px;width: 100%;}}
@media (max-width:767px) {#text_block-1749-71 {margin-top: 0px;width: 100%;}}
@media (max-width:767px) {#text_block-1392-71 {width: 100%;}}
#_rich_text-1429-71 {padding-top: 0px;padding-bottom: 0px;}
#_rich_text-1422-71 {padding-top: 0px;padding-bottom: 0px;}
#_rich_text-1442-71 {padding-top: 0px;padding-bottom: 0px;}
#_rich_text-1463-71 {padding-top: 0px;padding-bottom: 0px;color: #fff;}
#_rich_text-1470-71 {padding-top: 0px;padding-bottom: 0px;color: #fff;}
#_rich_text-1477-71 {padding-top: 0px;padding-bottom: 0px;color: #fff;}
#_rich_text-224-71 {font-family: "soleil";color: #c2404e;font-size: 3rem;margin-left: 20px;}
#_rich_text-240-71 {font-family: "soleil";color: #c2404e;font-size: 2rem;margin-left: 0px;}
#_rich_text-244-71 {font-family: "soleil";color: #c2404e;font-size: 2rem;margin-left: 0px;}
#_rich_text-246-71 {font-family: "soleil";color: #c2404e;font-size: 2rem;margin-left: 0px;}
#_rich_text-256-71 {font-family: "soleil";color: #c2404e;font-size: 2rem;margin-left: 0px;}
#_rich_text-259-71 {font-family: "soleil";color: #c2404e;font-size: 2rem;margin-left: 0px;}
#_rich_text-262-71 {font-family: "soleil";color: #c2404e;font-size: 2rem;margin-left: 0px;}
#_rich_text-325-71 {margin-bottom: 10px;width: 70%;}
#_rich_text-762-71 {margin-bottom: 10px;width: 70%;}
#_rich_text-1369-71 {color: #c2404e;}
@media (max-width:767px) {#_rich_text-325-71 {width: 100%;}}
@media (max-width:767px) {#_rich_text-762-71 {width: 100%;}}
#image-1398-71 {transform: translate(-40%,-25%);position: absolute;top: 50%;left: 0px;width: 200%;max-width: 200%;z-index: 0;}
#image-1395-71 {transform: translate(-25%,-75%);z-index: 1;position: absolute;top: 0px;left: 0px;width: 100%;max-width: 200%;}
#image-200-71 {margin-left: auto;margin-right: auto;width: 75%;}
#image-332-71 {width: 100%;margin-bottom: 20px;}
#image-346-71 {margin-bottom: 10px;width: 100%;}
#image-349-71 {margin-bottom: 10px;width: 100%;}
#image-355-71 {margin-bottom: 10px;width: 100%;}
#image-358-71 {margin-bottom: 10px;width: 100%;}
#image-362-71 {margin-bottom: 10px;width: 100%;}
#image-365-71 {margin-bottom: 10px;width: 100%;}
#image-1104-71 {width: 100%;}
#image-1107-71 {width: 100%;}
#image-1155-71 {transform: translateY(-30px);margin-left: auto;margin-right: auto;width: 150%;position: absolute;z-index: -1;bottom: 0px;left: 0px;max-width: 150%;}
#image-1168-71 {margin-left: auto;margin-right: auto;width: 100%;}
#image-1220-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1484-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1487-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1490-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1493-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1496-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1524-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1509-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1512-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1515-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1518-71 {padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
#image-1286-71 {width: 100%;}
#image-1297-71 {width: 130%;margin-top: 30px;}
#image-1298-71 {width: 100%;margin-top: 10px;}
#image-1313-71 {width: 100%;}
#image-1315-71 {width: 100%;}
#image-1316-71 {width: 100%;}
#image-1528-71 {width: 100%;}
#image-1529-71 {width: 80%;}
#image-1745-71 {width: 100%;}
#image-1382-71 {width: 150%;max-width: 126%;margin-top: -140px;z-index: -1;}
#image-1386-71 {width: 95%;margin-left: auto;margin-top: 30px;margin-bottom: 30px;}
#image-1394-71 {transform: translate(-25%,-55%);position: absolute;top: 0px;left: 0px;width: 400px;z-index: -1;}
#image-1550-71 {width: 100%;}
#image-1554-71 {width: 100%;}
#image-1567-71 {width: 100%;}
#image-1583-71 {width: 100%;}
#image-1707-71 {transform: translate(-50%,30%);position: absolute;left: 0px;top: 0px;width: 50%;z-index: -1;}
#image-1761-71 {width: 100%;}
#image-1656-71 {position: absolute;left: 0px;top: 0px;z-index: 0;width: 120%;max-width: 200%;}
#image-1612-71 {transform: translateY(30px);width: 90%;margin-left: auto;margin-right: auto;margin-top: 50px;z-index: 2;}
#image-1671-71 {transform: translate(-80%,-15%);width: 400px;position: absolute;top: 0px;left: 0px;z-index: 0;}
@media (max-width:991px) {#image-1398-71 {transform: translate(-35%,-45%);}}
@media (max-width:767px) {#image-1398-71 {transform: translate(-50%,-30%);width: 500%;max-width: 500%;}}
@media (max-width:767px) {#image-1395-71 {width: 150%;}}
@media (max-width:767px) {#image-1382-71 {margin-top: 0px;}}
@media (max-width:767px) {#image-1707-71 {width: 100%;}}
@media (max-width:767px) {#image-1656-71 {transform: translate(-15%);width: 180%;}}
@media (max-width:767px) {#image-1612-71 {width: 100%;margin-top: 0px;}}
@media (max-width:479px) {#image-1398-71 {position: absolute;top: 40%;}}
#code_block-1682-71 {width: 100%;}
#code_block-1763-71 {width: 3rem;}
#code_block-1764-71 {width: 3rem;}
#code_block-1709-71 {width: 100%;}