#div_block-1360-68 {width: 75%;margin-bottom: 20px;}
#div_block-1358-68 {width: 75%;}
#div_block-1359-68 {width: 25%;align-items: center;text-align: center;justify-content: center;}
#div_block-1362-68 {width: 75%;border-right-width: 2px;border-right-color: #a52b26;border-right-style: solid;}
#div_block-1363-68 {width: 25%;align-items: center;text-align: center;}
#div_block-1380-68 {width: 75%;border-right-width: 2px;border-right-color: #a52b26;border-right-style: solid;}
#div_block-1382-68 {width: 25%;align-items: center;text-align: center;}
#div_block-1385-68 {width: 75%;border-right-width: 2px;border-right-color: #a52b26;border-right-style: solid;}
#div_block-1387-68 {width: 25%;align-items: center;text-align: center;}
#div_block-1390-68 {width: 75%;border-right-width: 2px;border-right-color: #a52b26;border-right-style: solid;}
#div_block-1392-68 {width: 25%;align-items: center;text-align: center;}
@media (max-width:991px) {#div_block-1360-68 {width: 100%;}}
#new_columns-1357-68 {background-color: #a52b26;}
#new_columns-1361-68 {border-bottom-color: #a52b26;border-bottom-width: 2px;border-bottom-style: solid;}
#new_columns-1379-68 {border-bottom-color: #a52b26;border-bottom-width: 2px;border-bottom-style: solid;}
#new_columns-1384-68 {border-bottom-color: #a52b26;border-bottom-width: 2px;border-bottom-style: solid;}
#new_columns-1389-68 {border-bottom-color: #a52b26;border-bottom-width: 2px;border-bottom-style: solid;}
#headline-1373-68 {font-family: "Source Sans Pro";color: #fff;font-size: 30px;}
#text_block-1375-68 {color: #a52b26;font-size: 1.2em;margin-bottom: 0px;}
#text_block-1377-68 {color: #a52b26;font-size: 1.5em;}
#text_block-1381-68 {color: #a52b26;font-size: 1.2em;margin-bottom: 0px;}
#text_block-1383-68 {color: #a52b26;font-size: 1.5em;}
#text_block-1386-68 {color: #a52b26;font-size: 1.2em;margin-bottom: 0px;}
#text_block-1388-68 {color: #a52b26;font-size: 1.5em;}
#text_block-1391-68 {color: #a52b26;font-size: 1.2em;margin-bottom: 0px;}
#text_block-1393-68 {color: #a52b26;font-size: 1.5em;}