#section-23-56 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#section-4-56 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;}
#section-4-56 {background-color: #fef0f0;width: 100%;}
#section-58-56 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-left: 0;align-items: center;}
#section-58-56 {text-align: center;overflow: hidden;}
#section-821-56 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;}
#section-821-56 {background-color: #fef0f0;width: 100%;}
#section-22-56 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;display: flex;}
#section-22-56 {text-align: left;}
#section-39-56 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-bottom: 20px;padding-left: 0;}
#section-39-56 {background-color: #f4f3ec;overflow: hidden;position: relative;}
#section-703-56 > .ct-section-inner-wrap {max-width: 100%;padding-right: 0;padding-left: 0;}
#div_block-32-56 {width: 50%;align-items: center;text-align: center;justify-content: center;padding-left: 0px;padding-right: 0px;}
#div_block-33-56 {width: 50%;align-items: center;text-align: center;justify-content: center;padding-right: 0px;padding-left: 0px;}
#div_block-1173-56 {width: 50%;align-items: center;text-align: center;justify-content: center;padding-left: 0px;padding-right: 0px;}
#div_block-1175-56 {width: 50%;align-items: center;text-align: center;justify-content: center;padding-right: 0px;padding-left: 0px;}
#div_block-6-56 {width: 100%;padding-top: 0px;}
#div_block-642-56 {padding-top: 500px;}
#div_block-845-56 {width: 50%;}
#div_block-844-56 {width: 50%;}
#div_block-823-56 {width: 100%;padding-top: 0px;}
#bpa-timeline-desktop {transform: rotate(-10deg) skew(-10deg);}
#div_block-954-56 {display: flex;justify-content: flex-start;align-items: flex-end;text-align: left;flex-direction: row;padding-left: 20px;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#div_block-955-56 > * {height: 100%;}
#div_block-955-56 {align-items: stretch;grid-template-columns: repeat(8,minmax(12.5%,12.5%));grid-column-gap: 0;grid-row-gap: 20px;width: 95%;display: grid;margin-right: auto;text-align: left;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#div_block-956-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-957-56 {width: 100%;}
#div_block-962-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-963-56 {width: 100%;}
#div_block-968-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-969-56 {width: 100%;}
#div_block-974-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-975-56 {width: 100%;}
#div_block-980-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-981-56 {width: 100%;}
#div_block-988-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-989-56 {width: 100%;}
#div_block-994-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-995-56 {width: 100%;}
#div_block-1000-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1001-56 {width: 100%;}
#div_block-1006-56 {flex-direction: row;display: flex;align-items: flex-start;justify-content: flex-end;text-align: right;padding-top: 0px;padding-left: 20px;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#div_block-1007-56 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(8,minmax(12.5%,12.5%));grid-column-gap: 0;grid-row-gap: 20;display: grid;width: 95%;text-align: left;}
#div_block-1008-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1009-56 {width: 100%;}
#div_block-1014-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1015-56 {width: 100%;}
#div_block-1020-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1021-56 {width: 100%;}
#div_block-1026-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1027-56 {width: 100%;}
#div_block-1032-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1033-56 {width: 100%;}
#div_block-1038-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1039-56 {width: 100%;}
#div_block-1044-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1045-56 {width: 100%;}
#div_block-1050-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1051-56 {width: 100%;}
#bpa-mobile-row-1 {transform: rotate(-10deg) skew(-10deg);margin-bottom: 100px;}
#div_block-1297-56 {display: flex;justify-content: flex-start;align-items: flex-end;text-align: left;flex-direction: row;padding-left: 20px;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#div_block-1298-56 > * {height: 100%;}
#div_block-1298-56 {align-items: stretch;grid-template-columns: repeat(5,minmax(auto,auto));grid-column-gap: 0;grid-row-gap: 20;display: grid;margin-right: auto;text-align: left;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;margin-left: auto;}
#div_block-1299-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1300-56 {width: 100%;}
#div_block-1305-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1306-56 {width: 100%;}
#div_block-1311-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1312-56 {width: 100%;}
#div_block-1317-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1318-56 {width: 100%;}
#div_block-1323-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1324-56 {width: 100%;}
#div_block-1352-56 {flex-direction: row;display: flex;align-items: flex-start;justify-content: flex-end;text-align: right;padding-top: 0px;padding-left: 20px;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#div_block-1353-56 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(4,minmax(25%,25%));grid-column-gap: 0;grid-row-gap: 20;display: grid;margin-left: auto;margin-right: auto;width: 80%;}
#div_block-1354-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1355-56 {width: 100%;}
#div_block-1360-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1361-56 {width: 100%;}
#div_block-1368-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1369-56 {width: 100%;}
#div_block-1374-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1375-56 {width: 100%;}
#bpa-mobile-row-2 {transform: rotate(-10deg) skew(-10deg);}
#div_block-1178-56 {padding-left: 0px;padding-right: 0px;text-align: left;}
#div_block-1179-56 > * {height: 100%;}
#div_block-1179-56 {justify-items: center;align-items: stretch;grid-template-columns: repeat(3,minmax(33.33%,33.33%));grid-column-gap: 0;grid-row-gap: 20px;display: grid;margin-right: auto;text-align: left;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;width: 60%;margin-left: auto;padding-left: 0px;padding-right: 0%;padding-bottom: 0px;padding-top: 0px;}
#div_block-1212-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1213-56 {width: 100%;}
#div_block-1218-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1219-56 {width: 100%;}
#div_block-1224-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1225-56 {width: 100%;}
#div_block-1233-56 {padding-left: 0px;padding-right: 0px;}
#div_block-1234-56 {justify-items: center;align-items: stretch;grid-template-columns: repeat(4,minmax(25%,auto));grid-column-gap: 0;grid-row-gap: 0;grid-auto-rows: minmax(min-content,1fr);display: grid;text-align: left;width: 80%;margin-left: auto;margin-right: auto;padding-left: 0%;padding-right: 0px;}
#div_block-1262-56 {width: 100%;}
#div_block-1273-56 {width: 100%;}
#div_block-1279-56 {width: 100%;}
#div_block-656-56 {width: 30%;padding-left: 0px;padding-right: 0px;}
#div_block-657-56 {width: 70%;}
#div_block-660-56 {width: 100%;}
#div_block-666-56 {width: 100%;}
#div_block-664-56 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-665-56 {width: 60%;}
#div_block-677-56 {width: 100%;}
#div_block-679-56 {width: 100%;}
#div_block-681-56 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-683-56 {width: 60%;}
#div_block-685-56 {width: 100%;}
#div_block-687-56 {width: 100%;}
#div_block-689-56 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-691-56 {width: 60%;}
#div_block-693-56 {width: 100%;}
#div_block-695-56 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-697-56 {width: 60%;}
#div_block-709-56 {width: 100%;}
#div_block-711-56 {width: 100%;}
#div_block-713-56 {width: 100%;}
#div_block-715-56 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-748-56 {width: 100%;}
#div_block-746-56 {width: 50%;padding-left: 0px;padding-right: 10px;}
#div_block-747-56 {width: 50%;padding-right: 0px;padding-left: 10px;}
#div_block-717-56 {width: 60%;}
#div_block-771-56 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-772-56 {width: 100%;}
#div_block-774-56 {width: 50%;padding-left: 0px;padding-right: 10px;}
#div_block-776-56 {width: 50%;padding-right: 0px;padding-left: 10px;}
#div_block-778-56 {width: 60%;}
#div_block-781-56 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-782-56 {width: 100%;}
#div_block-784-56 {width: 50%;padding-left: 0px;padding-right: 10px;}
#div_block-786-56 {width: 50%;padding-right: 0px;padding-left: 10px;}
#div_block-788-56 {width: 60%;}
#div_block-791-56 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-792-56 {width: 100%;}
#div_block-794-56 {width: 50%;padding-left: 0px;padding-right: 10px;}
#div_block-796-56 {width: 50%;padding-right: 0px;padding-left: 10px;}
#div_block-798-56 {width: 60%;}
#div_block-757-56 {width: 100%;}
#div_block-759-56 {width: 100%;}
#div_block-761-56 {width: 40%;padding-left: 0px;padding-right: 0px;}
#div_block-762-56 {width: 100%;}
#div_block-764-56 {width: 50%;padding-left: 0px;padding-right: 10px;}
#div_block-766-56 {width: 50%;padding-right: 0px;padding-left: 10px;}
#div_block-768-56 {width: 60%;}
@media (max-width:991px) {#div_block-6-56 {flex-direction: column;display: flex;align-items: center;text-align: center;}}
@media (max-width:991px) {#div_block-642-56 {padding-top: 300px;}}
@media (max-width:991px) {#div_block-845-56 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:991px) {#div_block-844-56 {padding-left: 0px;padding-right: 0px;padding-top: 0px;}}
@media (max-width:991px) {#div_block-823-56 {flex-direction: column;display: flex;align-items: center;text-align: center;}}
@media (max-width:991px) {#div_block-1234-56 {align-items: stretch;grid-template-columns: repeat(4,minmax(25%,25%));grid-column-gap: 0;grid-row-gap: 20px;width: 100%;display: grid;}}
@media (max-width:991px) {#div_block-1289-56 {display: flex;}}
@media (max-width:767px) {#div_block-642-56 {padding-top: 200px;}}
@media (max-width:767px) {#div_block-651-56 {padding-left: 20px;padding-right: 20px;}}
@media (max-width:767px) {#new_columns-31-56> .ct-div-block {width: 100% !important;}
	#new_columns-31-56 {flex-direction: column-reverse;}}
@media (max-width:767px) {#new_columns-31-56 {flex-direction: column-reverse;}}
@media (max-width:767px) {#new_columns-1172-56> .ct-div-block {width: 100% !important;}
	#new_columns-1172-56 {flex-direction: column-reverse;}}
@media (max-width:767px) {#new_columns-1172-56 {flex-direction: column-reverse;}}
@media (max-width:991px) {#new_columns-843-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-843-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-655-56> .ct-div-block {width: 100% !important;}}
#new_columns-655-56 {z-index: 1;}
@media (max-width:991px) {#new_columns-714-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-714-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-770-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-770-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-780-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-780-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-790-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-790-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-760-56> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-760-56> .ct-div-block {width: 100% !important;}}
#headline-2-56 {margin-bottom: 50px;}
#headline-756-56 {text-align: left;}
#headline-8-56 {margin-top: 20px;margin-bottom: 30px;}
#headline-825-56 {margin-top: 20px;margin-bottom: 30px;}
#headline-84-56 {margin-bottom: 30px;z-index: 1;}
#text_block-1176-56 {text-align: left;}
#text_block-11-56 {color: #c2404e;font-size: 2.5em;}
#text_block-67-56 {text-align: left;}
#text_block-72-56 {text-align: left;}
#text_block-826-56 {color: #c2404e;font-size: 2.5em;}
#image-812-56 {width: 150px;margin-top: -60px;}
#image-831-56 {transform: translate(20%,-30%);width: 55%;position: absolute;right: 0px;top: 0px;}
#image-824-56 {width: 150px;margin-top: -60px;}
#image-1003-56 {margin-bottom: 0px;}
#image-1123-56 {margin-top: 10px;}
#image-1121-56 {width: 60%;}
#image-1112-56 {margin-bottom: 0px;}
#image-1118-56 {margin-top: 0px;}
#image-1115-56 {width: 60%;margin-bottom: 0px;}
#image-1143-56 {width: 60%;}
#image-1227-56 {margin-bottom: 0px;}
#image-1228-56 {margin-top: 10px;}
#image-1230-56 {width: 60%;}
#image-1266-56 {margin-bottom: 0px;}
#image-1267-56 {margin-top: 0px;}
#image-1269-56 {width: 60%;margin-bottom: 0px;}
#image-1281-56 {width: 100%;}
#image-1283-56 {width: 60%;}
#image-1285-56 {width: 100%;}
#image-1291-56 {width: 100%;}
#image-1293-56 {width: 100%;}
#image-801-56 {transform: translate(-50%,35%);max-width: 500px;width: 60%;position: absolute;bottom: 0px;z-index: 0;left: 0px;}
#image-668-56 {width: 100%;}
#image-682-56 {width: 100%;}
#image-690-56 {width: 100%;}
#image-696-56 {width: 100%;}
.oxy_shape_divider {position: absolute;left: 0;right: 0;bottom: -1px;pointer-events: none;}
.oxy_shape_divider > svg {min-width: 100%;position: absolute;bottom: 0;left: 0;z-index: 0;transform-origin: bottom center;}
.oxy_shape_divider_top {top: -1px;bottom: initial;}
.oxy_shape_divider_flipped {transform: scaleX(-1);}
#-shape-divider-630-56 .oxy_shape_divider {color: #fef0f0;z-index: -1;}
#-shape-divider-630-56 .oxy_shape_divider svg {height: 200px;width: 70%;}