#div_block-1929-56 {width: 100%;flex-direction: row;display: flex;flex-wrap: wrap;align-items: flex-start;}
#div_block-1931-56 {width: 100%;}
#div_block-1935-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1952-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1953-56 {width: 100%;}
#div_block-1958-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1959-56 {width: 100%;}
#div_block-1964-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1965-56 {width: 100%;}
#div_block-1970-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1971-56 {width: 100%;}
#div_block-1976-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1977-56 {width: 100%;}
#div_block-1984-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1985-56 {width: 100%;}
#div_block-1995-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1996-56 {width: 100%;}
#div_block-2001-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-2002-56 {width: 100%;}
#div_block-2007-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-2008-56 {width: 100%;}
#div_block-2013-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-2014-56 {width: 100%;}
#div_block-2023-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-2024-56 {width: 100%;}
#div_block-2032-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-2033-56 {width: 100%;}
@media (max-width:991px) {#div_block-1929-56 {flex-direction: row;display: flex;flex-wrap: wrap;align-items: stretch;}}
#image-1989-56 {margin-bottom: 0px;}
#image-1990-56 {margin-top: 0px;}
#image-1992-56 {width: 60%;margin-bottom: 0px;}
#image-2018-56 {width: 60%;}
#image-2026-56 {margin-bottom: 0px;}
#image-2027-56 {margin-top: 10px;}
#image-2029-56 {width: 60%;}