#div_block-1989-56 {width: 100%;flex-direction: row;display: flex;flex-wrap: wrap;align-items: flex-start;}
#div_block-1813-56 {width: 100%;}
#div_block-1867-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1818-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1824-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1825-56 {width: 100%;}
#div_block-1881-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1882-56 {width: 100%;}
#div_block-1830-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1831-56 {width: 100%;}
#div_block-1887-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1888-56 {width: 100%;}
#div_block-1836-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1837-56 {width: 100%;}
#div_block-1893-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1894-56 {width: 100%;}
#div_block-1844-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1845-56 {width: 100%;}
#div_block-1904-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1905-56 {width: 100%;}
#div_block-1850-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1851-56 {width: 100%;}
#div_block-1910-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1911-56 {width: 100%;}
#div_block-1856-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1857-56 {width: 100%;}
#div_block-1920-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1921-56 {width: 100%;}
#image-1898-56 {margin-bottom: 0px;}
#image-1899-56 {margin-top: 0px;}
#image-1901-56 {width: 60%;margin-bottom: 0px;}
#image-1915-56 {width: 60%;}
#image-1859-56 {margin-bottom: 0px;}
#image-1860-56 {margin-top: 10px;}
#image-1862-56 {width: 60%;}