#div_block-1678-56 {align-items: center;text-align: center;}
#div_block-1679-56 {transform: rotate(-10deg) skew(-10deg);width: 90%;margin-top: 50px;}
#div_block-1680-56 {display: flex;justify-content: flex-start;align-items: flex-end;text-align: left;flex-direction: row;padding-left: 20px;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#div_block-1681-56 > * {height: 100%;}
#div_block-1681-56 {align-items: stretch;grid-template-columns: repeat(8,minmax(12.5%,12.5%));grid-column-gap: 0;grid-row-gap: 20px;width: 95%;display: grid;margin-right: auto;text-align: left;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#div_block-1682-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1683-56 {width: 100%;}
#div_block-1688-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1689-56 {width: 100%;}
#div_block-1694-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1695-56 {width: 100%;}
#div_block-1700-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1701-56 {width: 100%;}
#div_block-1706-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1707-56 {width: 100%;}
#div_block-1714-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1715-56 {width: 100%;}
#div_block-1720-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1721-56 {width: 100%;}
#div_block-1726-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1727-56 {width: 100%;}
#div_block-1735-56 {flex-direction: row;display: flex;align-items: flex-start;justify-content: flex-end;text-align: right;padding-top: 0px;padding-left: 20px;border-top-width: 0;border-right-width: 0;border-bottom-width: 0;border-left-width: 0;}
#div_block-1736-56 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(8,minmax(12.5%,12.5%));grid-column-gap: 0;grid-row-gap: 20;display: grid;width: 95%;text-align: left;}
#div_block-1737-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1738-56 {width: 100%;}
#div_block-1743-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1744-56 {width: 100%;}
#div_block-1751-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1752-56 {width: 100%;}
#div_block-1757-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1758-56 {width: 100%;}
#div_block-1763-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1764-56 {width: 100%;}
#div_block-1774-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1775-56 {width: 100%;}
#div_block-1780-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1781-56 {width: 100%;}
#div_block-1790-56 {flex-direction: column;display: flex;text-align: left;}
#div_block-1791-56 {width: 100%;}
#image-1729-56 {margin-bottom: 0px;}
#image-1730-56 {margin-top: 10px;}
#image-1732-56 {width: 60%;}
#image-1768-56 {margin-bottom: 0px;}
#image-1769-56 {margin-top: 0px;}
#image-1771-56 {width: 60%;margin-bottom: 0px;}
#image-1785-56 {width: 60%;}